<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("HomePage","Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BİLGE KOLEJİ <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("HomePage","Home")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Ana Sayfa</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Kayıt İşlemleri
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapse" href="@Url.Action("PreRegister","Home")">
            <i class="fas fa-fw fa-cog"></i>
            <span>Ön Kayıt</span>

        </a>

    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Giriş İşlemleri
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Bilgilendirme Sistemi</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="@Url.Action("Ogretmen","Login")">Yönetim Bilgilendirme</a>
                <a class="collapse-item" href="@Url.Action("Ogrenci","Login")">Veli Bilgilendirme</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Hakkımızda -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("About","Home")">
            <i class="fas fa-fw fa-about-area"></i>
            <span>Hakkımızda</span>

        </a>
    </li>

    <!-- Nav Item - İletişim -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Contact","Home")">
            <i class="fas fa-fw fa-table"></i>
            <span>İletişim</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->


</ul>
